<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{topic}} - Task Detail</title>
</head>

<body>
    <header>
        <h1>Header Detail</h1>
        <nav>
            <ul>
                <li><a href="/{{page_url}}">Back to Diary List</a></li>
                <li><a href="/{{page_url}}/{{diary}}">Back to {{diary}}</a></li>
            </ul>
        </nav>
    </header>

 
</body>

</html>